<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Keyden"
           Manufacturer="Ashleigh Adams"
           Scope="perUserOrMachine"
           Version="$(VerliteVersion)"
           UpgradeCode="b6fec9b1-2c5a-4143-9bb0-f001b4a13edb">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <!-- Set a custom icon for our program in Add/Remove Programs and the Settings app -->
    <Icon Id='ProductIcon' SourceFile='$(SolutionDir)src/Keyden.App/Assets/keyden-logo.ico' />
    <Property Id='ARPPRODUCTICON' Value='ProductIcon' />

    <Feature Id="Main">
      <!--<ComponentGroupRef Id="ApplicationExecutable" />-->
      <ComponentGroupRef Id="Artifacts" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationIniFolder" />
    </Feature>
  </Package>
</Wix>
