<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:desktop="https://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
         IgnorableNamespaces="uap rescap desktop uap5">

  <Identity Name="Keyden"
            Publisher="CN=Ashleigh Adams"
            Version="0.0.13.0" />

  <Properties>
    <DisplayName>Keyden</DisplayName>
    <PublisherDisplayName>Ashleigh Adams</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="Keyden"
                          Description="SSH key agent for your password manager"
                          BackgroundColor="transparent"
                          Square150x150Logo="Images\Square150x150Logo.png"
                          Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" >
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>

      <Extensions>
        <!--<desktop:Extension Category="windows.startupTask"
                           Executable="Keyden.Desktop.WinRT\Keyden.exe"
                           EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="KeydenStartup" Enabled="true" DisplayName="Keyden"/>
        </desktop:Extension>-->

        <uap5:Extension Category="windows.startupTask"
                        Executable="Keyden.Desktop.WinRT\Keyden.exe"
                        EntryPoint="Keyden.Desktop.WinRT">
          <uap5:StartupTask TaskId="KeydenStartup"
                            Enabled="true"
                            DisplayName="Keyden" />
        </uap5:Extension>

        <!--<uap5:Extension Category="windows.appExecutionAlias">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="Keyden.exe"/>
          </uap5:AppExecutionAlias>
        </uap5:Extension>-->
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="codeGeneration"/>
  </Capabilities>
</Package>
